[submodule "SimpleUNet"]
	path = SimpleUNet
	url = https://github.com/rorygh/SimpleUNet.git
[submodule "RAFT-Stereo"]
	path = RAFT-Stereo
	url = https://github.com/rorygh/RAFT-Stereo.git
[submodule "SynthBlend"]
	path = SynthBlend
	url = https://github.com/rorygh/SynthBlend.git
